      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f1e7;
            text-align: center;
        }
        header {
background-image: linear-gradient(to right, #8b5a2b, #f77700); 
            color: white;
            padding: 20px;
            font-size: 20px;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background: rgb(255, 255, 255);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        img {
            width:250px;
            border-radius: 10px;
            border-bottom:20px solid #8b5a2b;
        }
        footer {
            margin-top: 20px;
            background-color: #8b5a2b;
            color: white;
            padding: 10px;
        }
    
        header a{
            position:absolute;
            left: 0px;
            top: 45px;
            background-color: #f77700;
        }

main a:hover {
    box-shadow: 10px 8px 10px orange
}
nav a:hover {
  left: 0;
}
nav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
 a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #8b5a2b;
    padding: 10px;
    border-radius: 10px;
}
